.wrap{
  width: 70%;
  margin: 120px auto 120px;
  box-shadow: 2px 2px 6px 3px #ddd;
  border: 2px solid #ddd;
}
table{
  margin-left: 50px;
  font-size: 22px;
}
td{
  padding: 10px;
}
strong{
  font-family: "Roboto Slab",serif;
  padding: 0px 10px;
}
.wrap p{
  font-family: "Roboto Slab",serif;
  font-weight: normal;
  font-size: 30px;
  background-color: #590995;
  color: white;
  margin: 0px;
  padding: 25px;
}
input[type="password"]{
  width: 60%;
  display: block;
  margin: 10px auto 20px;
  padding: 8px;
  font-size: 20px;
  border: 2px solid #ddd;
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
}
label{
  width: 60%;
  display: block;
  margin: 5px auto;
  font-family: "Roboto Slab",serif;
  font-size: 20px;
  font-weight: lighter;
}
input[type="password"]:hover,input[type="password"]:focus{
  box-shadow: 1px 1px 5px 2px #ddd;
  outline: none;
}
input[type="submit"]{
  display: block;
  font-size: 20px;
  color: white;
  background-color: green;
  padding: 10px;
  margin: 10px auto 40px;
  border: none;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}
input[type=submit]:hover{
  box-shadow: 0px 0px 6px 8px #ddd;
  outline: none;
}
.required{
  color: red;
}

input:focus{
  outline: none;
}
.error{
  display: block;
  padding: 6px;
  font-size: 18px;
  color: red;
  width: 65%;
  background-color: rgba(226, 106, 106, 0.3);
  border: 2px solid red;
  margin: 0px auto 10px;
}
.hide{
  margin: 0px;
  width: 0px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  border: none;
}
